/* App.css */

body.dark-mode {
  background-color: #000040;
  color: #ffffff;
}

body.light-mode {
  background-color: #ffffff;
  color: #000000;
}

header.dark-mode {
  background-color: #000040;
  color: #ffffff;
}

header.light-mode {
  background-color: #000040;
  color: #ffffff;
}


.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  user-select: none;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* Internet ExplorerEdge */
}

.app-body {
  display: flex;
  flex: 1;
  overflow-y: hidden !important;
}

.header {
   background-color: #f0f0f0;
  /* padding: 20px; */
  height: 60px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-right input {
  margin-right: 10px;
  padding: 5px;
}

.logo {
  height: 60px;
  width: 290px;
  background:none;
}

.sidebar {
  width: 250px;
  background-color: #f0f0f0;
  padding: 20px;
  transition: width 0.3s;
}

.sidebar.collapsed {
  width: 50px;
}

.main-content {
  flex: 1;
  padding: 20px;
}

.dark-mode .header {
  background-color: #000040;
  color: #ddd;
}

.dark-mode .sidebar {
  background-color: #000040; 
  color: #ddd;
}

.dark-mode .main-content {
  background-color: #212151;
  color: #ddd;
}



.dark-mode .home-button{
  background-color: #000040;
  color: #ffffff;
}


/* Footer */
.footer {
  background-color: #f1f1f1;
  padding: 10px 20px;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  border-top: 1px solid #ccc;
}

.footer p {
  margin: 0;
  color: #000040;
}

