
/* Footer container */
.footer {
    background-color: #f1f1f1;
    padding: 10px 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    border-top: 1px solid #ccc;
  }
  
  .footer p {
    margin: 0;
    color: #666;
  }