
.sidebar {
  width: 16.3%;
  background-color: #f0f0f0;
  padding: 20px;
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 4%;
  bottom: 0; 
  transition: width 0.3s, padding 0.3s;
}


.sidebar.collapsed {
  width: 90px;
  padding: 10px 5px;
}

.sidebar .topic:hover {
  background-color: #fea419;
  border-color: #000040;
}

.home-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  padding: 10px;
  font-size: 24px; 
}

.home-button:hover {
  color: #fea419;
}

.sidebar .collapse-button {
  display: block;
  margin-bottom: 10px;
  color: #000040;
  border-radius: 10px;
  border-color: #000040;
  border-width: 20px;
  margin-left: 25%;
}

.sidebar .topic {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  align-items: center;
  color: #000040;
}

.sidebar .subheadings {
  padding-left: 15px;
  color: #000040;
}

.sidebar li.selected {
  background-color: #ddd;
}


.topic .react-icons {
  font-size: 200px;
} 

.subsubheadings {
  padding-left: 40px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.expand-collapse-all {
  width: 20%;
  height: 30%;
  padding: 10px;
  background-color: #fea419;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}


.collapse-button, .expand-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000040;
  padding: 10px;
  font-size: 24px; 
}

.collapse-button:hover {
  color: #fea419;
}

.index-home {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}


.expand-button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 16px;
}


.subheadings {
  margin-left: 20px;
  padding-left: 10px;
  border-left: 2px solid #fea419;
  border-radius: 4px;
  color: #000040;
}


.subheadings ul {
  padding: 5px;
  border-radius: 4px;
}


.subheadings li:hover {
 
  border-color: #000040;
  border-radius: 4px;
}


.topic.selected {
  background-color: #fea419;
  font-weight: bold;
  border-color: #000040;
  border-radius: 4px;
}

.dark-mode .collapse-button {
  background-color: #000040;
  color: #ffffff;
}
.dark-mode .expand-button {
  background-color: #000040;
  color: #ffffff;
}
.dark-mode .topic {
 
  color: #ffffff;
}

.dark-mode .subheadings {
  color: #ffffff;
}

.subheadings li.selected {
  background-color: #fea419;
  font-weight: bold;
}


@media (max-width: 1200px) {
  .sidebar {
    width: 20%;
  }
}

@media (max-width: 992px) {
  .sidebar {
    width: 25%;
  }
}

@media (max-width: 768px) {
  .sidebar {
    width: 30%;
  }
}

@media (max-width: 576px) {
  .sidebar {
    width: 40%;
  }
}

@media (max-width: 480px) {
  .sidebar {
    width: 100%;
    padding: 10px;
  }

  .sidebar.collapsed {
    width: 100%;
    padding: 5px;
  }
}


 
.section {
  margin-bottom: 40px;
}
 

::-webkit-scrollbar {
  width: 3px;
}
 
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 3px;
}
 

.sidebar.collapsed {
  width: 50px;
  padding: 10px 5px;
}
 
.main-content.collapsed {
  margin-left: 50px;
}

.collapse-button {
 
  position: absolute;
  top: 10px;
  right: -20px; 
  background: none;
  border: none;
  cursor: pointer;
  margin-bottom: 30%;
}
 
.collapse-button.collapsed {
  transform: translateX(22%) !important;
}
 
.collapse-button.expanded {
  right: -15px; 
}

.collapsed-icon {
  font-size: 1.5em;
  width: 100%;
  margin-top: 75% !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
 
.expanded-icon {
  font-size: 1.5em;
  width: 100%;
  margin-top: 75% !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.topic .collapsed-icon,
.topic .expanded-icon  {
  transition: all 0.3s;
 
}
  
.sidebar.collapsed .topic.selected {
  background-color: transparent;
  border-left: 3px solid #fea419;
  margin-left: -3px;
}
.sidebar.collapsed .topic.selected  .collapsed-icon {
  color: #fea419;
}
 
.subheadings, .subsubheadings {
  font-size: 14px;
  list-style-type: none;
  padding-left: 20px;
}